DORIS_JDBC_URL=jdbc:mysql://192.168.1.10:9030/streamlake?useSSL=false
DORIS_USER=streamlake_writer
DORIS_PASSWORD=CHANGE_ME
MYSQL_HOST=192.168.1.10
MYSQL_PORT=3306
MYSQL_DATABASE=risk_control
MYSQL_USER=streamlake_app
MYSQL_PASSWORD=CHANGE_ME
REDIS_HOST=192.168.1.10
REDIS_PORT=6379
REDIS_USERNAME=streamlake_app
REDIS_PASSWORD=CHANGE_ME
AI_ENGINE_BASE_URL=http://127.0.0.1:8000
