# Java / Maven
**/target/
**/*.class
**/*.jar

# Python
**/.venv/
**/__pycache__/
**/*.pyc
**/.ipynb_checkpoints/

# Frontend (Node)
**/node_modules/
**/dist/
**/.cache/
**/npm-debug.log*
**/yarn-error.log*

# System & IDE
**/.DS_Store
**/.idea/
**/.vscode/
**/.env
**/.env.local

# Databases / Persistence
**/volumes/
**/data/
**/*.db
**/*.log
